<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Tiffani Duong Travel API</title>
  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css">
  <!-- VENDOR SCRIPTS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

  <!-- APPLICATION SCRIPTS -->
  <script src="/scripts/app.js"></script>
</head>
<body>
  <div class="jumbotron">
    <h1 class="display-3"> Traveler Log App </h1>
    <p class="lead">Here you can access the API to my many travels in recent years. Enjoy the content!</p>
    <hr class="m-y-2">
    <p>Please feel free to add any suggested trips or trips you have been on.</p>
    <p class="lead">
      <h4><a href="/api">API Documentation</a></h4>
    </div>
  </div>
</div>

<div class="col-md-12">
  <form class="form-inline" id="newTravelForm">

    <div class="form-group">
      <label for="city">City</label>
      <input type="text" class="form-control" name="city" placeholder="city name">
    </div>
    <div class="form-group">
      <label for="state">State</label>
      <input type="text" class="form-control" name="state" placeholder="state name(if any)">
    </div>
    <div class="form-group">
      <label for="country">Country</label>
      <input type="text" class="form-control" name="country" placeholder="country name">
    </div>
    <div class="form-group">
      <label for="year-visited">Year Visited</label>
      <input type="text" class="form-control" name="year visited" placeholder="xxxx">
    </div>
    <div class="form-group">
      <label for="Image">Image</label>
      <input type="text" class="form-control" name="international" placeholder="Enter image link.">
    </div>
    <input class="form-control"name="summary" placeholder="Tell us about the trip!"></input>
    <button type="submit" class="btn btn-default">Create Entry</button>
  </form>
  <br></br>
  <!-- travel handlebars template -->
  <div class= col-md-12>
    <div id="target">
      <script id="travels-template" type="text/x-handlebars-template">
        <table class="table">
          <tbody>
            <tr id=header>
              <th>City</th>
              <th>State</th>
              <th>Country</th>
              <th>Year Visited</th>
              <th>Summary</th>
              <th>Image Link</th>
            </tr>
            {{#each travels}}
            <tr>
              <td>{{city}}</td>
              <td>{{state}}</td>
              <td>{{country}}</td>
              <td>{{year_visited}}</td>
              <td>{{summary}}</td>
              <td><img class="img-responsive" src="{{image}}"></td>
              <td>
                <button type="button" name="button" class="delete btn btn-danger center" data-id={{_id}}>Delete Entry</button>
              </tr>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </body>
      </html>
