.jumbotron {
    background-color: light gray;
    text-align:center;
    font-family: sans-serif;
    opacity: 0.7;
}

body {
    background-image: url(/images/torresBig.jpeg);
    background-repeat: no-repeat;
    background-size:contain;
    opacity: 0.9
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}

.form-group{
     text-align: left;
     font-size: 15px;
     color: white;
}

.text {
    color: white;
}

#target {
    color: black;
    opacity: .9;
}

#delete {
    float: right;
}
