.jumbotron {
    background-color: gray;
    text-align:center;
    font-family: sans-serif;
}

body {
    background-image: url(/images/torres.jpeg);
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
}
